extends layout

block content
  h1= title

  #table-wrapper
    table#desc
      tr
        th ID
        th Name
        th Year
        th Director
        th Postor
      tr
        td #{movies[0].id}
        td #{movies[0].name}
        td #{movies[0].year}
        td #{movies[0].director}
        td #{movies[0].postor}
      tr
        td #{movies[1].id}
        td #{movies[1].name}
        td #{movies[1].year}
        td #{movies[1].director}
        td #{movies[1].postor}
      tr
        td #{movies[2].id}
        td #{movies[2].name}
        td #{movies[2].year}
        td #{movies[2].director}
        td #{movies[2].postor}
      tr
        td #{movies[3].id}
        td #{movies[3].name}
        td #{movies[3].year}
        td #{movies[3].director}
        td #{movies[3].postor}
      tr
        td #{movies[4].id}
        td #{movies[4].name}
        td #{movies[4].year}
        td #{movies[4].director}
        td #{movies[4].postor}
      tr
        td #{movies[5].id}
        td #{movies[5].name}
        td #{movies[5].year}
        td #{movies[5].director}
        td #{movies[5].postor}
      tr
        td #{movies[6].id}
        td #{movies[6].name}
        td #{movies[6].year}
        td #{movies[6].director}
        td #{movies[6].postor}
